<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Halo <b><%= @user.username %></b>, Silahkah buka link berikut untuk melakukan reset password</p>
    <hr>
    <a href="<%= @reset_password_link %>" target="_blank"><%= @reset_password_link %></a>
  </body>
</html>
